@model PIM_4.Models.Pagamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deletar Pagamento?</h3>
<div>
    <h4>Pagamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormaDePagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormaDePagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comanda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comanda)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPagamento)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="button-voltar-delete">Voltar</a>
    </form>
</div>
