@model IEnumerable<PIM_4.Models.Pagamento>

@{
    ViewData["Title"] = "Index";
}

<h1 class="texto-negrito-titulo">Pagamento</h1>

<p>
    <a asp-action="Create"class="meu-botao">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormaDePagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comanda)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.IdPagamento)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FormaDePagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comanda)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.IdPagamento)
            </td>*@
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPagamento }, new { @class = "button-lista editar" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdPagamento }, new { @class = "button-lista detalhes" })
                    @Html.ActionLink("Deletar", "Delete", new { id = item.IdPagamento }, new { @class = "button-lista deletar" })
    </td>
        </tr>
}
    </tbody>
</table>
