@model PIM_4.Models.ReservarQuarto

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Deletar Reserva Comum?</h3>
<div>
    <h4>ReservarQuarto</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdQuarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdQuarto)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponibilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponibilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroQuarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroQuarto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoQuarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoQuarto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServicoQuarto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServicoQuarto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="button-voltar-delete">Voltar</a>
    </form>
</div>
